﻿@page
@model App.Cidadao.Api.Areas.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuários</h1>

<p>
    <a href="/Identity/Account/Register">Novo Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsersList[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersList[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersList[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersList[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersList[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsersList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Deletar</a>

            </td>
        </tr>
        }
    </tbody>
</table>
